@font-face {
  font-family: Crimson;
  src: url('./fonts/CrimsonPro-SemiBold.ttf');
}
body {
  height: 47em;
  width: 96em;
  background-color: #e6d3c1;
  margin: 0;
  font-family:Crimson;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
